@charset "UTF-8";

.img-back{
    background: url(../fotos/salon.3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    filter: blur(3px);  
}


.paragrafo1{
    color: white;
    font-size: 20px;
    float: left;
    width: auto; 
    margin: 3px 9px;  
    border: 4px solid wheat;
    background-color:rgba(0,0,0,0.3);
    padding: 1px;
    line-height: 1%;
    /* display: flex; */
    text-align: center;
}

.paragrafo{
    position: relative;
    max-width: 2000px; 
    height: auto; 
    left: 16.4%;
    display: flex;   
}

