@charset "UTF-8";

.form{
    width: 80%;
    margin: auto;
}

input, textarea{
    background: wheat;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

input:hover, textarea:hover{
    background: khaki;
}

fieldset{
    border: 4px solid wheat;
    margin: 20px;
    padding: 10px;
}

form{
    font-size: 25px;
    background-color:rgba(0,0,0,0.3);
    
}

.bnt{
    background: wheat;
    padding: 10px;
    margin: 5px;
    font-size: 1.0em;
    border: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 10px;
}

.paragrafo1{
    margin: 0px 150px;   
}

.paragrafo{
    position: relative;
    max-width: 2000px; 
    height: auto; 
    left: 3%;
    display: flex;   
}




