@charset "UTF-8";

.img-back{
    background: url(../fotos/salon.3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    filter: blur(4px);  
}

h1{
    text-align: center;
    font-family: 'Merienda', cursive;
}

.paragrafo1{
    margin: 10px 20px; 
}






